hits.max=1
text.max=1
record_number.max=1
contentRating.max=1
includes.max=1
follows.max=112
printSection.max=1
telephone.max=1
subscribes.max=15
gender.max=1
printEdition.max=1
performed_in.max=1
hasReview.max=54
title.max=1
birthDate.max=1
paymentAccepted.max=1
faxNumber.max=1
producer.max=1
release.max=1
nationality.max=1
duration.max=1
purchaseFor.max=1
offers.max=215
conductor.max=1
email.max=1
isbn.max=1
age.max=1
purchaseDate.max=1
hasGenre.max=5
tag.max=20
printColumn.max=1
bookEdition.max=1
friendOf.max=225
aggregateRating.max=1
validThrough.max=1
makesPurchase.max=20
artist.max=1
contentSize.max=1
director.max=1
printPage.max=1
userId.max=1
type.max=6
publisher.max=1
language.max=10
employee.max=10
familyName.max=1
title.max=1
description.max=1
performer.max=1
producer.max=1
author.max=4
openingHours.max=1
price.max=1
caption.max=1
movement.max=1
serialNumber.max=1
contactPoint.max=1
composer.max=1
expires.max=1
keywords.max=1
totalVotes.max=1
description.max=1
name.max=1
reviewer.max=1
likes.max=25
rating.max=1
numberOfPages.max=1
text.max=1
validFrom.max=1
priceValidUntil.max=1
parentCountry.max=1
url.max=1
Location.max=1
givenName.max=1
jobTitle.max=1
editor.max=4
homepage.max=1
legalName.max=1
datePublished.max=1
opus.max=1
eligibleQuantity.max=1
wordCount.max=1
actor.max=24
eligibleRegion.max=5
award.max=2
trailer.max=3
