Ontologylabel.max=1
ProfessoremailAddress.max=1
UndergraduateStudentmemberOf.max=1
PersonmemberOf.max=2
Ontologyimports.max=1
RestrictionsomeValuesFrom.max=1
Employeetelephone.max=1
ResearchAssistantname.max=1
UndergraduateStudentemailAddress.max=1
AssistantProfessorundergraduateDegreeFrom.max=1
Studentname.max=1
GraduateCoursename.max=1
PersonresearchInterest.max=1
EmployeeresearchInterest.max=1
FullProfessortelephone.max=1
PersontakesCourse.max=4
FacultydoctoralDegreeFrom.max=1
ProfessordegreeFrom.max=3
AssociateProfessormastersDegreeFrom.max=1
PersonteachingAssistantOf.max=1
ProfessormastersDegreeFrom.max=1
AssistantProfessormastersDegreeFrom.max=1
StudentemailAddress.max=1
GraduateStudentteachingAssistantOf.max=1
TransitivePropertylabel.max=1
Professortelephone.max=1
Ontologycomment.max=1
ProfessorheadOf.max=1
FullProfessorworksFor.max=2
ResearchAssistantemailAddress.max=1
Departmentname.max=1
FacultymastersDegreeFrom.max=1
ResearchAssistantundergraduateDegreeFrom.max=1
TeachingAssistanttakesCourse.max=3
FullProfessorname.max=1
AssistantProfessorname.max=1
StudentmemberOf.max=1
DatatypePropertydomain.max=1
UndergraduateStudenttelephone.max=1
PersonworksFor.max=2
PersonheadOf.max=1
Organizationname.max=1
EmployeeheadOf.max=1
FacultyundergraduateDegreeFrom.max=1
PersonundergraduateDegreeFrom.max=1
PersondoctoralDegreeFrom.max=1
Universityname.max=1
Employeename.max=1
LecturerdegreeFrom.max=3
PersonemailAddress.max=1
Personname.max=1
PublicationpublicationAuthor.max=9
TeachingAssistantemailAddress.max=1
FullProfessoremailAddress.max=1
GraduateStudenttakesCourse.max=3
EmployeedoctoralDegreeFrom.max=1
ResearchAssistantdegreeFrom.max=1
ProfessorresearchInterest.max=1
LecturerdoctoralDegreeFrom.max=1
FacultyteacherOf.max=4
Workname.max=1
Persontelephone.max=1
GraduateStudentname.max=1
AssociateProfessoremailAddress.max=1
AssistantProfessortelephone.max=1
DatatypePropertylabel.max=1
LecturerteacherOf.max=4
Studenttelephone.max=1
ResearchAssistantadvisor.max=1
AssistantProfessorresearchInterest.max=1
ObjectPropertylabel.max=1
TeachingAssistantadvisor.max=1
StudenttakesCourse.max=4
ObjectPropertysubPropertyOf.max=1
PersonmastersDegreeFrom.max=1
RestrictiononProperty.max=1
FacultyresearchInterest.max=1
AssociateProfessorteacherOf.max=4
AssistantProfessormemberOf.max=1
FullProfessordoctoralDegreeFrom.max=1
AssociateProfessorundergraduateDegreeFrom.max=1
ProfessormemberOf.max=2
EmployeeundergraduateDegreeFrom.max=1
Coursename.max=1
TransitivePropertyrange.max=1
GraduateStudentemailAddress.max=1
EmployeeteacherOf.max=4
EmployeedegreeFrom.max=3
FacultydegreeFrom.max=3
TeachingAssistantname.max=1
ClasssubClassOf.max=2
AssociateProfessordegreeFrom.max=3
UndergraduateStudentname.max=1
FullProfessorteacherOf.max=4
ObjectPropertydomain.max=1
FacultymemberOf.max=2
Professorname.max=1
FullProfessormastersDegreeFrom.max=1
LecturermemberOf.max=1
AssociateProfessorresearchInterest.max=1
AssistantProfessorworksFor.max=1
OrganizationsubOrganizationOf.max=1
AssistantProfessoremailAddress.max=1
ProfessorteacherOf.max=4
ProfessorworksFor.max=2
ProfessordoctoralDegreeFrom.max=1
TeachingAssistantmemberOf.max=1
UndergraduateStudenttakesCourse.max=4
TeachingAssistantteachingAssistantOf.max=1
OntologyversionInfo.max=1
TeachingAssistantundergraduateDegreeFrom.max=1
EmployeeemailAddress.max=1
Studentadvisor.max=1
ResearchGroupsubOrganizationOf.max=1
ResearchAssistantmemberOf.max=1
EmployeememberOf.max=2
DepartmentsubOrganizationOf.max=1
FacultyworksFor.max=2
GraduateStudentadvisor.max=1
Classlabel.max=1
LecturerworksFor.max=1
FullProfessorheadOf.max=1
TeachingAssistantdegreeFrom.max=1
ProfessorundergraduateDegreeFrom.max=1
EmployeemastersDegreeFrom.max=1
Personadvisor.max=1
AssociateProfessormemberOf.max=1
AssistantProfessordoctoralDegreeFrom.max=1
FullProfessorundergraduateDegreeFrom.max=1
ResearchAssistanttelephone.max=1
ObjectPropertyrange.max=1
AssistantProfessordegreeFrom.max=3
PersonteacherOf.max=4
Publicationname.max=1
Facultytelephone.max=1
TransitivePropertydomain.max=1
AssociateProfessorname.max=1
EmployeeworksFor.max=2
FullProfessordegreeFrom.max=3
Facultyname.max=1
FacultyemailAddress.max=1
AssistantProfessorteacherOf.max=4
LecturermastersDegreeFrom.max=1
ResearchAssistanttakesCourse.max=3
Lecturertelephone.max=1
TeachingAssistanttelephone.max=1
GraduateStudentmemberOf.max=1
GraduateStudentundergraduateDegreeFrom.max=1
AssociateProfessorworksFor.max=1
GraduateStudenttelephone.max=1
FullProfessorresearchInterest.max=1
AssociateProfessortelephone.max=1
AssociateProfessordoctoralDegreeFrom.max=1
FacultyheadOf.max=1
Lecturername.max=1
PersondegreeFrom.max=3
GraduateStudentdegreeFrom.max=1
FullProfessormemberOf.max=2
LecturerundergraduateDegreeFrom.max=1
LectureremailAddress.max=1
UndergraduateStudentadvisor.max=1
ObjectPropertyinverseOf.max=1
ClassintersectionOf.max=1
publicationResearch.domain=Publication
teachingAssistantOf.domain=TeachingAssistant
emailAddress.domain=Person
subOrganizationOf.domain=Organization
listedCourse.domain=Schedule
undergraduateDegreeFrom.domain=Person
teacherOf.domain=Faculty
researchProject.domain=ResearchGroup
doctoralDegreeFrom.domain=Person
affiliateOf.domain=Organization
orgPublication.domain=Organization
softwareVersion.domain=Software
publicationAuthor.domain=Publication
degreeFrom.domain=Person
mastersDegreeFrom.domain=Person
age.domain=Person
softwareDocumentation.domain=Software
hasAlumnus.domain=University
telephone.domain=Person
affiliatedOrganizationOf.domain=Organization
tenured.domain=Professor
advisor.domain=Person
publicationDate.domain=Publication
member.domain=Organization
title.domain=Person
teachingAssistantOf.max=1
subOrganizationOf.max=1
rest.max=1
teacherOf.max=4
onProperty.max=1
researchInterest.max=1
type.max=2248
publicationAuthor.max=9
degreeFrom.max=3
someValuesFrom.max=1
comment.max=1
imports.max=1
first.max=1
emailAddress.max=1
versionInfo.max=1
headOf.max=1
takesCourse.max=4
name.max=1
memberOf.max=2
undergraduateDegreeFrom.max=1
range.max=1
doctoralDegreeFrom.max=1
worksFor.max=2
subClassOf.max=2
mastersDegreeFrom.max=1
intersectionOf.max=1
domain.max=1
telephone.max=1
inverseOf.max=1
subPropertyOf.max=1
label.max=1
advisor.max=1
