teachingAssistantOf.max=1
subOrganizationOf.max=1
rest.max=1
teacherOf.max=4
onProperty.max=1
researchInterest.max=1
type.max=2248
publicationAuthor.max=9
degreeFrom.max=3
someValuesFrom.max=1
comment.max=1
imports.max=1
first.max=1
emailAddress.max=1
versionInfo.max=1
headOf.max=1
takesCourse.max=4
name.max=1
memberOf.max=2
undergraduateDegreeFrom.max=1
range.max=1
doctoralDegreeFrom.max=1
worksFor.max=2
subClassOf.max=2
mastersDegreeFrom.max=1
intersectionOf.max=1
domain.max=1
telephone.max=1
inverseOf.max=1
subPropertyOf.max=1
label.max=1
advisor.max=1
