type.min=1
type.max=2248
name.min=0
name.max=1
subOrganizationOf.min=0
subOrganizationOf.max=1
worksFor.min=0
worksFor.max=2
degreeFrom.min=0
degreeFrom.max=3
doctoralDegreeFrom.min=0
doctoralDegreeFrom.max=1
emailAddress.min=0
emailAddress.max=1
mastersDegreeFrom.min=0
mastersDegreeFrom.max=1
memberOf.min=0
memberOf.max=2
researchInterest.min=0
researchInterest.max=1
teacherOf.min=0
teacherOf.max=4
telephone.min=0
telephone.max=1
undergraduateDegreeFrom.min=0
undergraduateDegreeFrom.max=1
headOf.min=0
headOf.max=1
takesCourse.min=0
takesCourse.max=4
advisor.min=0
advisor.max=1
teachingAssistantOf.min=0
teachingAssistantOf.max=1
publicationAuthor.min=0
publicationAuthor.max=9
