type.min=1
type.max=1
age.min=0
age.max=1
nationality.min=1
nationality.max=1
advisor.min=0
advisor.max=1
teacherOf.min=0
teacherOf.max=3
FullProfessortype.min=1
FullProfessortype.max=1
FullProfessorage.min=1
FullProfessorage.max=1
FullProfessornationality.min=1
FullProfessornationality.max=1
FullProfessoradvisor.min=0
FullProfessoradvisor.max=1
FullProfessorteacherOf.min=1
FullProfessorteacherOf.max=3
Studenttype.min=1
Studenttype.max=1
Studentage.min=0
Studentage.max=0
Studentnationality.min=1
Studentnationality.max=1
Studentadvisor.min=0
Studentadvisor.max=0
StudentteacherOf.min=0
StudentteacherOf.max=0
age.domain=FullProfessor
nationality.domain=Person
advisor.domain=FullProfessor
teacherOf.domain=FullProfessor
CharacteristicSet=2,type:2,age:2,nationality:2,teacherOf:4;1,type:1,age:1,nationality:1,advisor:1,teacherOf:3;1,type:1,nationality:1;